// carousel manager
  .add {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    button {
      width: 100%;
      height: 100%;
      border: 2px dashed gray;
      border-radius: 10px;
      background: transparent !important;
      color: $font-primary !important;
      font-size: 36px;
      transition: 0.5s;
      &:hover {
        background: $font-primary !important;
        color: white !important;
        font-size: 36px;
        filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5)) opacity(0.5);
      }
    }
  }
  .carousel-height{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
    button {
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background: transparent !important;
      color: transparent;
      font-size: 36px;
      font-weight: bold;
      transition: 0.5s;
      filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5)) opacity(0.2);
      &:hover {
        background: black !important;
        color: white !important;
        filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5)) opacity(0.5);
      }
    }
  }
  
  .kakunin {
    font-size: 36px;
    font-weight: bold;
  }

//novels manager
#adminnovelsList {
}

//members manager
#adminmembersList {
}

//reports manager
  .reportTextBox {
    width: 100%;
    border: 1px solid $font-second;
    border-radius: 10px;
    color: $font-primary;
  }
