@import 'primary';

.pictest {
  background: url("https://picsum.photos/1920/500/?random=2")no-repeat center/cover;
  height: 500px;
}
.btn-position {
  position: absolute;
  top: -50%;
  left: -5%;
}

.aino-osusume {
background: $second;
height: 100px;
color: white;
font-size: 36px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
filter: drop-shadow(3px 5px 4px rgba(0,0,0,0.5));
}

//card
.card-filter {
  filter: drop-shadow(3px 5px 4px rgba(0,0,0,0.5));
  height: 200px;
  img {
    height: 100%;
  }
}

.card-text-board {
  height: 60%;
}

.summary-height {
  height: 50px;
  overflow-y: hidden;
}

.novelsbtn {
  background: $third !important;
  border: none;
  transition: 0.5s;
  height: 3rem;
  width: 200px;
  font-size: 24px;
  font-weight: bolder;
&:hover {
    background: $third-hover !important;
  }
}

.copyright {
  background: $primary;
  height: 150px;
}