// MNovels style
.aino-novel-rounded {
  border-radius: 20px;
  border: 2px solid transparent;
  transition: 0.5s;
  &:hover {
    border: 2px solid $font-second;
  }
}

.aino-search-rounded {
  border-radius: 20px !important;
}

.form-group {
  div {
    display: flex;
    button {
      border: none;
      background: transparent !important;
      // width: 40px;
      svg {
        color: black;
      }
    }
  }
}

#novelslist {
  background: white;
  border-radius: 10px;
  .type {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
  }
}

#createrlist {
  background: white;
  width: 100%;
  height: 700px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  .novels-nav-border {
    border-bottom: 1px solid#c7c7c7;
  }

  .nav-item {
    border-radius: 10px ;
    width: 100px;
    text-align: center;
    transition: 0.5s;
    &:hover {
      background: $third-hover !important;
    }
    a {
      color: white;
    }
  }
}

#MReport {
  .form-group{
    margin: 0;
  }
}